{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "css/change-password.css" %}">
<!--Section: Block Content-->

<div class="container my-5">
    <div class="row justify-content-center ozel2">
        <div class="col-md-12 col-lg-8">
            
        
            <form action="{% url "changepassword" %}" method="POST">
                {% csrf_token %}

            <div class="md-form md-outline my-3">
                <label data-error="wrong" data-success="right" for="newPass">Current password</label>
                <input required name="current-password" type="password" id="newPass" class="form-control">
            </div>

            <div class="md-form md-outline my-3">
                <label data-error="wrong" data-success="right" for="newPass">New password</label>
                <input required name="password" type="password" id="newPass" class="form-control">
                
            </div>
        
            <div class="md-form md-outline">
                <label data-error="wrong" data-success="right" for="newPassConfirm">Confirm password</label>
                <input required name="re-password" type="password" id="newPassConfirm" class="form-control">
                
            </div>
        
            <button type="submit" class="btn btn-primary my-4">Change password</button>
                {% if wrong_password %}
                    <p class="text-danger">Wrong Password</p>
                {% endif %}
                {% if password_notmatch %}
                    <p class="text-danger">Password not match</p>
                {% endif %}
                {% if same_password %}
                    <p class="text-danger">Password can't be same</p>
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock %}