{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "css/comment.css" %}">
<div class="container mt-5 mb-5 ozel">
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-10">
            <div class="card">
                <div class="p-3">
                    <h6 class="text-center">Comments for {{product.marka.name}} {{product.model}}</h6>
                </div>
               
                <div class="mt-2">
                {% if comments %}
                    {% for comment in comments %}
                    <div class="d-flex flex-row p-3"> <img src="{% static "img/no_profile.png" %}" width="40" height="40" class="rounded-circle mx-3">
                        <div class="w-100">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-row align-items-center"> <span class="mx-2">{{comment.user_name}}</span>  </div> <small>{{comment.date}}</small>
                            </div>
                            <p class="text-justify comment-text mx-2">{{comment.text}}</p>
                            <div class="d-flex flex-row user-feed"> <span class="wish"><i class="fa fa-heartbeat mx-2"></i>Like</span> <span class="mx-3"><i class="fa fa-comments-o mx-2"></i>Reply</span> </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p class="text-center">There's no comment for this product yet</p>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="reviews-pagination">
    {% if has_previous %}
     <li><a href="{% url "comments" product.slug previous_page %}"><i class="fa fa-angle-left"></i></a></li>
    {% endif %}
    {% for i in range %}
        {% if i == current_page  %}
        <li class="active">{{i}}</li>
        {% else %}
            <li><a href="{% url "comments" product.slug i %}">{{i}}</a></li>
        {% endif %}
        
    {% endfor %}
    {% if has_next %}
     <li><a href="{% url "comments" product.slug next_page %}"><i class="fa fa-angle-right"></i></a></li>
    {% endif %}
    <!-- <li class="active">1</li>
    <li><a name="page_number" value="2" href="#">2</a></li> -->
    
    
</ul>
<br><br>
{% endblock %}
