{% extends "base.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static "css/delete_address.css" %}">
<div class="ozel" id="id01">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
    <form class="modal-content" action="{% url "delete_address" address.id %}" method="POST">
        {% csrf_token %}
      <div class="ozelcontainer">
        <h1>Delete Address</h1>
        <p>Are you sure you want to delete your address?</p>
      
        <div class="clearfix">
          <a href="{% url "address" %}">Cancel</a>
          <input type="hidden" name="url" value="{{url}}" id="">
          <button class="deletebtn">Delete</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}