{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "css/profile_trial.css" %}">
<div class="container rounded bg-white ">
  <div class="row">
      <div class="col-md-3 border-right  ">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img src={% if user_info.image %}"{{user_info.image.url}}" {% else %}"{% static "img/no_profile.png" %}" {% endif %} class="rounded-circle" width="150px" ><span class="font-weight-bold my-3">{{user.first_name}} {{user.last_name}}</span><span class="text-black-50">{{user.email}}</span><span> </span></div>
          <div class="d-flex align-items-start justify-content-center">
            <ul>
              <li><a class="nav-link text-secondary" href="{% url "profile" %}">Profile</a></li>
              <hr>
              <li><a class="nav-link text-secondary" href="{% url "card" %}">Card</a></li>
              <hr>
              <li><a class="nav-link text-secondary" href="{% url "myorders" %}">Orders</a></li>
              <hr>
              <li><a class="nav-link text-secondary" href="{% url "changepassword" %}">Change Password</a></li>
              <hr>
              <li><a class="nav-link text-secondary" href="{% url "address" %}">Addresses</a></li>
              <hr>
              <li><a class="nav-link text-secondary" href="{% url "payment_methods" %}">Payment Methods</a></li>
              <hr>
              <li><a class="nav-link text-secondary" href="{% url "wishlist" %}">Wish List</a></li>
              <hr>
            </ul>
           
          </div>
      </div>
      <div class="col-md-5 border-right">
          <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right">Profile Settings</h4>
              </div>
              <div class="row mt-2">
                  <div class="col-md-6"><label class="">Name</label><input type="text" class="form-control" placeholder="first name" value="{{user.first_name}}"></div>
                  <div class="col-md-6"><label class="">Surname</label><input type="text" class="form-control" value="{{user.last_name}}" placeholder="surname"></div>
              </div>
              <div class="row mt-3 gy-2">
                  <div class="col-md-12"><label class="">Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number" value="{{user_info.tel}}"></div>
                  <div class="col-md-12"><label class="">Birthday</label><input type="text" class="form-control" placeholder="enter address line 1" value="{{user_info.b_date}}"></div>
                  <div class="col-md-12"><label class="">Username</label><input type="text" class="form-control" placeholder="enter address line 2" value="{{user.username}}"></div>
                  <div class="col-md-12"><label class="">Email</label><input type="email" class="form-control" placeholder="enter address line 2" value="{{user.email}}"></div>
                  
              </div>
          
              <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center experience"><span>Change Profile Picture</span></div>
              
              <form action="{% url "updatephoto" %}" method="POST" enctype="multipart/form-data">
                <div class="my-3"><input type="file" name="prof_img" id=""></div>
                  {% csrf_token %}
                <button class="btn btn-primary my-2">Update</button>
              </form>
          </div>
      </div>
  </div>
</div>
</div>
</div>

{% endblock %}
{% block script %}

{% endblock %}